*{margin:0;padding:0;box-sizing: border-box;}
ul{list-style-type: none;padding: 0;margin: 0;}
a{text-decoration: none;}
body{position: relative;font-size: 14px;line-height: normal;font-family: Helvetica,Arial, sans-serif;color: #333;}
.header{position: relative;background-color: #fff;z-index: 3;transition: all 0.5s;}
.sticky-header{position: fixed;left: 0;top:0;right:0}
.container{max-width: 1200px;margin: 0 auto;}
.flex-block-one{display: flex;justify-content: space-between;align-items: center;}
.boxshadow-one{box-shadow:0 0 3px 2px #333;}

.btn{
appearance: none;-moz-appearance: none;-webkit-appearance: none;
cursor: pointer;
border: 0;
}
.btn-header{text-transform: uppercase;/*background-color: #346f94;*/display: block;color: #fff;padding: 0 10px;font-size: 16px;box-shadow:10px 7px 9px 3px #000;transform: scale(1);transition: all 0.3s;
    background-image: linear-gradient(to bottom, #25a8f0, #0f93c9, #147da3, #1e677f, #25515e);}
.btn-header:hover{transform: scale(1.04);}
.header, .nav-wrap, nav{height:60px}
.sticky-header-mar{margin-top: 60px;}
/***/
.nav-wrap{display: flex;justify-content: space-between;align-items: stretch;}
nav{position: relative;justify-content: space-between;align-items: center;display: flex;}
nav li{list-style: none;position: relative;transition: all 0.3s;}
nav li{border-left: 1px solid #ccc;}
nav li a{color: #333;letter-spacing: 2px;text-transform: uppercase;padding: 0 5px;display: block;line-height: 60px;transition: all 0.3s linear;margin: 0 35px}
nav li a::after,nav li a::before{content: "";position: absolute;background: #346f94;width: 0;height: 5px;display: block;left:50%;transform: translateX(-50%);transition: all 0.3s;}
nav li a::before{top: 0}
nav li a::after{bottom: 0}
nav li a:hover:after,nav li a:hover::before{width: 100%;}
nav li:hover {background-color: #eee;}

section{padding:100px 0;position: relative;}
section:first-child{padding: 0;}

.z-index-wrap{z-index: 2;position: relative;}
section:first-child .z-index-wrap{z-index: 1;}
.flexcn-wrap{display: flex;}


.section-head{font-size: 30px;text-transform: uppercase;letter-spacing: 5px;text-align: center;}
/**/
/* .section-one,.sectionbg{background-image: linear-gradient(to right, #07446a, #003f57, #00373e, #002e24, #07240e);;color: #fff;} */
.section-one{background-image: linear-gradient(to left top, #091124, #0c1c2f, #0e263a, #103045, #123b50, #114056, #0f445c, #0d4962, #074865, #034869, #03476c, #06466f);color: #fff;}
.flex-banner-block{display: flex;justify-content: stretch;height: 80vh;align-items: stretch;}
.contentblock{display: flex;flex-direction: column;justify-content: center;flex-basis: 50%;;text-transform: uppercase;}
.contentblock h2,.contentblock h3,.contentblock button{margin-bottom: 20px;text-align: center;font-weight: normal;letter-spacing: 5px}
.contentblock h2{font-size: 45px;}
.contentblock h3{font-size: 17px;}
.btn-style-1 {max-width: 200px;padding: 20px;text-transform: uppercase;position: relative;margin: 0 auto;cursor: pointer;box-shadow:10px 7px 9px 3px #000;letter-spacing: 3px;}
.imagebock{flex-basis: 50%;position: relative;}
.imagebock img{position: absolute;max-width: 120%;right: 0;bottom: -35%;right: -10%;}

/****/
.section-two,.section-four{background-color: #eee;}
.inner-gird-wrap{position: relative;display: flex;justify-content: space-around;flex-wrap: wrap;}
.inner-gird-wrap .card{flex-basis: 30%;}

.card{position: relative;border-radius: 2px;border:0 solid #f6f6f6;padding:40px 20px;margin: 20px;transition: all 0.3s ease-in-out;text-align: center;}
.card .titlet{font-size: 17px;font-weight: bold;letter-spacing: 3px;text-transform: uppercase;margin-bottom: 15px;transition: all 0.3s ease-in;}
.card .desct{font-size: 15px;margin-bottom: 15px;letter-spacing: 1px;}
.card .readmoret{color: #346f94;text-transform: uppercase;letter-spacing: 2px;}
.card .imageb{margin-bottom: 20px;}
.card .imageb span{position: relative;overflow: hidden;padding: 20px;border-radius: 50%;border: 1px solid #ccc;display: inline-block;transition:all 0.3s ease-in}
.card .imageb i{font-size: 30px;color: #346f94;}

.card:hover{box-shadow: 0 10px 15px 0px #ccc;}
.card:hover .imageb span{box-shadow: 0 0 3px 0px #333;background-color: #346f94;;}
.card:hover .imageb i{color: #fff}
.card:hover .readmoret{text-decoration: underline;}

.sect3-wrap{margin: 0 auto;width:100%;text-align: center;padding: 40px 0 ;}
.sect3-wrap p{letter-spacing: 2px;font-size: 16px;line-height: 30px;}

.leftcol,.rightcol{flex-basis: 50%;padding: 10px;position: relative;}
.rightcol img{max-width: 100%;border-radius: 2px;box-shadow: 0 10px 13px 2px #000;filter: blur(1px);}

/**/
.techskills-wrap{position: relative;display: flex;justify-content:flex-start;flex-wrap: wrap;padding: 40px 0;}
.skillcard{padding: 20px 40px;position: relative;border: 1px solid #aaa;margin: 5px;transition: all 0.3s;transform: scale(1);}
.skillcard a{position: absolute;top: 0;right: 0;left: 0;bottom: 0;display: block;}
.skillcard p {font-size: 15px;letter-spacing: 3px;text-transform: uppercase}

.bg-color-1{background-color: #ccc;color: #333;}
.bg-color-2{background-color: #346f94;color: #fff;}
.bg-color-3{background-color: #127968;color: #fff;}
.bg-color-4{background-color: #be3434;color: #fff;}
.bg-color-5{background-color: #9b6222;color: #fff;}
.bg-color-6{background-color: #681972;color: #fff;}
.bg-color-7{background-color: #363436;color: #fff;}
.bg-color-8{background-color: #227c17;color: #fff;}

.skillcard:hover{opacity: 0.8;transform: scale(1.03);}